body {
    margin: 0 20px 0 20px;
    background-color: #f3e9f1 !important;
}

.navbar {
    background-color: #f3e9f1 !important;
}

.nav-link {
    color: #2C1E2C !important;
}

.btn-outline-primary {
    color: #2C1E2C !important;
    border-color: #2C1E2C !important
}

.btn-outline-primary:hover {
    background-color: #ad89a6e5;
}


.col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}
.img-fluid {
    height: 500px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

main {
    padding-top: 50px;
}

#content > .container {
    display: flex;
}

.card {
    max-width: 900px;
}

.card-img-top {
    max-height: 300px;
    max-width: 1000px;
    object-fit: cover;
}

#content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

a {
    text-decoration: none !important;
}

#Formulaire > form {
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

/* .errors {
    color: bold red !important;
} */