@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@500&display=swap');

body {
    margin: 0 20px 0 20px;
    background-color: #f3e9f1 !important;
    font-family: 'Sarabun', sans-serif !important;
}

.navbar {
    background-color: #f3e9f1 !important;
}

.nav-link {
    color: #2C1E2C !important;
}

.btn-outline-primary {
    color: #2C1E2C !important;
    border-color: #2C1E2C !important
}

.btn-outline-primary:hover {
    background-color: #ad89a6e5;
}


.col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}
.img-fluid {
    height: 500px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

main {
    padding-top: 50px;
}

main > h1 {
    text-align: center;
    padding-bottom: 1rem;
}

#content > .container {
    display: flex;
}

.card-accueil {
    max-width: 900px;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.295);
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.card-product {
    max-width: 900px;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.295);
    margin: 0 auto;
    
}

.card-accueil:hover {
    -webkit-transform:scale(1.05); /* Safari et Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* Internet Explorer 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}

.card-img-top {
    max-height: 300px;
    max-width: 1000px;
    height: 240px;
    object-fit: cover;
}

#content {
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
}

a {
    text-decoration: none !important;
    color: black;
}

#Formulaire > form {
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    row-gap: 1rem;
    padding: 3rem 0 3rem 3rem;
}

footer > a {
    font-size: 20px;
}